<html>

<head>
<title>3D Plot</title>
</head>

<body>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
library(plotly)

fig <- plot_ly(data = PLPSG_sleep_stats_wider, 
               x = ~as.numeric(N3), 
               y = ~as.numeric(R), 
               z = ~recovery, 
               color = ~recovery, 
               colors = c("yellow", "blue"), 
               type = "scatter3d", 
               mode = "markers") %>%
  layout(title = "3D Interaction Between N3, R, and Recovery",
         scene = list(
           xaxis = list(title = "N3 (minutes)"),
           yaxis = list(title = "R (minutes)"),
           zaxis = list(title = "Recovery")
         ))

fig
end.rcode-->


</body>
</html>
